<form action="/videos/<%= @video.id %>" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" id="title" name="title" placeholder="Enter title" value="<%= @video.title %>">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" id="description"name="body" rows="8" cols="40" placeholder="Enter video title/description"><%= @video.body %></textarea>
  </div>
  <div class="form-group">
    <label>Youtube embed</label>
    <textarea class="form-control" id="embed" name="source" rows="8" cols="40" placeholder="Paste embed html here"><%= @video.source %></textarea>
  </div>
  <div class="form-group">
    <label>Thumbnail image Link</label>
    <textarea class="form-control" id="thumbnail"name="image" rows="8" cols="40" placeholder="Paste image link here"><%= @video.image %></textarea>
  </div>
  <div class="form-group">
    <input id="save"type="submit" value="Save Video">
  </div>
  <% if(@video.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
