<%= name_input = 'Overeem' %>
<% @fighter_data.each do |data| %>
  <% if data['last_name'].include?(name_input) %>
    <h1><%= data['first_name'] %> <%= data['nickname'] %> <%= data['lastname'] %></h1>
    <h3>W:<%= data['wins'] %> L: <%= data['losses'] %> D: <%= data['draws'] %></h3>
    <img src="<%= data['left_full_body_image'] %>" alt="<%= data['lastname'] %> profile image">
    <a href="<%= data['link'] %>">More info</a>
  <% end %>
<% end %>
