<% if @name_input == nil%>
  <% @name_input = 'placeholder' %>
<% end %>
<% @fighter_data.each do |data| %>
  <% if data['last_name'].downcase.include?(@name_input) %>
    <a href="<%= data['link'] %>"><h1><%= data['first_name'] %> <%= data['nickname'] %> <%= data['last_name'] %></h1></a>  
    <h3>W:<%= data['wins'] %> L: <%= data['losses'] %> D: <%= data['draws'] %></h3>
    <img src="<%= data['left_full_body_image'] %>" alt="<%= data['lastname'] %> profile image">
  <% end %>
<% end %>
